.bg-container {
    background-color: white;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: rgb(178, 237, 237);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 85%;
    width: 80%;
    padding: 35px;
    border: 1px solid #7e858e;
}

.top-card {
    background-color: rgba(234, 234, 234, 0.76);
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #7e858e;
}

.main-heading {
    color: rgb(67, 30, 255);
    font-size: 25px;
    font-weight: bold;
}

.main-paragraph {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.highlight-element {
    color: rgb(0, 201, 0);
    font-size: 21px;
    font-weight: bold;
}

.form-card-container {
    background-color: rgb(225, 250, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
    width: 40vh;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    padding-left: 28px;
    border: 1px solid #7e858e;
}

.form-history-container {
    display: flex;
}

.add-button {
    height: 30px;
    width: 80px;
    margin-top: 50px;
    background-color: rgb(104, 207, 255);
    color: white;
    border-radius: 7px;
    border-width: 0px;
}

.form-heading {
    font-size: 22px;
    font-weight: bold;
}

.label-1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
}

.all-input {
    height: 16px;
    width: 180px;
}

.select-input {
    height: 28px;
    width: 150px;
    margin-bottom: 8px;
}

.history-container {
    padding: 30px;
    border: 1px solid #7e858e;
    border-radius: 15px;
    width: 80vh;
    height: 40vh;
    margin-top: 23px;
    margin-left: 27px;
    background-color: rgb(199, 255, 187);
  }
  
  .history-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  .header-item {
    font-size: 17px;
    font-weight: bold;
  }