.transcation-container {
    display: flex;
    justify-content: space-between;
}

.details-all {
    color: rgba(162, 172, 181, 0.723);
    font-weight: bold;
}

.delete-img {
    height: 20px;
    width: 40px;
}

.btn-style {
    background-color: transparent;
    border-width: 0px;
}